/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

/* Анимация для стрелки */
@keyframes arrow {
    from {
        transform: translateX(0); /* Исходное положение */
    }
    to {
        transform: translateX(4px); /* Сдвиг вправо */
    }
}

/* Основная часть сердечка */
.like-icon .core {
    fill: transparent; /* Прозрачный изначально */
    transition: fill 0.3s linear 0.03s; /* Плавное изменение цвета */
}

/* Тело сердечка */
.like-icon .main-body {
    fill: transparent; /* Прозрачный изначально */
    transition: fill 0.3s linear; /* Плавное изменение цвета */
}

/* Эффект при наведении на сердечко */
.like-icon:hover .core {
    fill: var(--animation-color-decor); /* Цвет при наведении */
    transition: fill 0.3s linear; /* Плавность изменения цвета */
}

.like-icon:hover .main-body {
    fill: var(--animation-color-decor); /* Цвет тела при наведении */
    transition: fill 0.3s linear 0.05s; /* С небольшим задержкой */
}

/* Эффект при нажатии на сердечко */
.like-icon:active .core {
    fill: var(--sparks-animation-color); /* Цвет при нажатии */
    transition: fill 0.3s linear; /* Плавное изменение цвета */
}

.like-icon:active .main-body {
    fill: var(--sparks-animation-color); /* Цвет тела при нажатии */
    transition: fill 0.3s linear 0.05s; /* С небольшой задержкой */
}

/* Эффекты для активного состояния (поставлен лайк) */
.like-icon.is-liked .core {
    fill: var(--sparks-animation-color); /* Цвет основной части */
    transition: fill 0.3s linear; /* Плавное изменение */
}

.like-icon.is-liked .main-body {
    fill: var(--sparks-animation-color); /* Цвет тела */
    transition: fill 0.3s linear 0.05s; /* С небольшой задержкой */
}

.like-icon.is-liked .contour {
    fill: var(--sparks-animation-color); /* Цвет контура */
    transition: fill 0.3s linear 0.06s; /* С еще большей задержкой */
}

/* Анимация для увеличения сердечка при лайке */
.like-icon.is-liked {
    animation: big-heart 0.3s ease-in alternate 0.1s; /* Анимация роста */
}

/* Анимация увеличения сердечка */
@keyframes big-heart {
    from {
        transform: scale(1); /* Обычный размер */
    }
    to {
        transform: scale(1.5); /* Увеличенный размер */
    }
}

/* Анимация появления искр */
.like-icon.is-liked .sparks {
    animation: opacity-sparks 0.3s ease-in 0.3s; /* Анимация искр */
}

/* Анимация изменения прозрачности искр */
@keyframes opacity-sparks {
    from {
        opacity: 0; /* Начально невидимые */
    }
    100% {
        opacity: 1; /* Появление искр */
    }
}

/* Контур сердечка */
.like-icon .contour {
    fill: var(--animation-color-decor); /* Цвет контура */
    transition: fill 0.1s linear; /* Плавное изменение цвета */
}