:root {
    /* Цвета */
    --background-color: #ffffff; /* Цвет фона всей страницы */
    --grid-background-pattern: repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
                               repeating-linear-gradient(#d3d3d3 0 2px, transparent 2px 4px),
                               linear-gradient(#e7e7e7 0.01%, #1a1a1a 100%); /* Фоновое изображение с сеткой и градиентом */

    --animation-color-decor: #000000; /* Цвет для общего декоративного анимационного эффекта */
    --sparks-animation-color: #ff0000; /* Цвет для анимации искр или спецэффектов */
    --main-body-animation-color: #ff0000; /* Цвет для анимаций основного содержимого */
    --border-decor: #000000;

    /* Оформление кнопок и элементов управления */
    --button-text-color-primary: #ffffff; /* Цвет текста на кнопках */
    --button-border-style: 2px solid #000000; /* Стиль границы кнопки */

    /* Стиль текста на карточках */
    --card-header-font-weight: 700; /* Толщина шрифта для заголовков в карточках */
    --card-content-font-weight: 400; /* Толщина шрифта для контента в карточках */

    /* Текстовые стили */
    --accent-text-size: clamp(1rem, 0.384rem + 2.629vw, 2.75rem); /* Адаптивный размер шрифта для акцентированных текстов */
    --accent-text-weight: 400; /* Толщина шрифта для акцентированных текстов */
    --text-color: #000000; /* Цвет текста для всего контента */
    --floppy-icon-color: #000000; /* Цвет для иконок, например, флоппи-диска */

}
